#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
ver {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.movie-box{
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
}

#title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}
